@use "./styles/mixins" as *;
@use "./styles/variables" as *;

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  font-family: $font-family;
  user-select: none;
}

// For elements that only need to be hidden on screen; use the mixin when a rule also sets other styles
.visually-hidden {
  @include visually-hidden;
}
